<div class="main">
	<h2>Welcome to The Bearded Clan</h2>
	<p class="p">Always remember that you are amazing and don't let anyone tell you otherwise &#9825</p>	
	<div class="row">
		<div class="col-md-8">
			<div class="thumbnail">
				<%= link_to image_tag("josh.jpeg"), about_path %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<%= link_to image_tag("gn.jpeg"), medical_path %>
			<div class="thumbnail">
				<%= link_to image_tag("graphic.jpg"), graphic_path %>
			</div>
			<div class="thumbnail">
				<%= link_to image_tag("highlights.jpg", class: 'highlights'), '#' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="thumbnail">
				<%= link_to image_tag("tips.jpg"), '#' %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<%= link_to image_tag("team.jpg"), '#' %>
			</div>
			<div class="thumbnail">
				<%= link_to image_tag("razer.jpeg"), '#' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				<%= link_to image_tag("banner.jpg"), '#' %>
			</div>
		</div>
	</div>
</div>