<div class="header">
	<div class="container">
	
		<header class="navbar navbar-fixed-top navbar-inverse">
		  <div class="container">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
		        data-target=".navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		    		</button>
		    	</div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><%= link_to "Home", root_path %></li>
		        <li><%= link_to "About",   about_path %></li>
		        <li><%= link_to "Medical", medical_path %></li>
		        <li><%= link_to "Portfolio", portfolio_path %></li>
		        <li><%= link_to "Videos", videos_path %></li>
		        <li><%= link_to "Donations", donations_path %></li>
		        <li><%= link_to "Sponsors", sponsors_path %></li>
		        <li><%= link_to "Anime Club", anime_path %></li>
		        <li><%= link_to "Login", login_path %></li>
		      </ul>
		    </div>
		  </div>
		</header>

		<header class="navbar navbar-fixed-top navbar-inverse clear">
		  <div class="container">
		  <%= link_to image_tag('logo.png', id: "logo"), root_path %>
		    <%= link_to image_tag('beardedBanner.png', id: "beardedBanner"), root_path %>
		 </div>
		</header>
	</div>
</div>